/*  COLORS
    
    DARK BLUE      #054754
    GREEN          #fff9e0    
    NEON GREEN     #53f4ff
    GRAY           #a8a8a8
    LIGHT GRAY     #f9f9f9
*/


/* BUTTON CSS */

.btn-custom {
    text-align: center;
    background: #054754;
    color: white;
    padding: 5px;
}

.btn-custom:hover {
    color: #53f4ff;
    cursor: pointer;
}

.btn-custom:focus {
    box-shadow: none;
}

.btn-custom.selected {
    border-radius: 0.25rem;
}


/* CARD CSS */
.ui-card {
    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    height: 100%;
}

.card-title {
    background: #054754;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

.card-content {
    padding: 15px 30px 15px 30px;
}


/* RESULTS+DATA CSS */

th {
    text-align: center;
}

.data {
    background: #f9f9f9;
    border: 1px solid #a8a8a8;
    margin-bottom: 10px;
    overflow-y: auto;
    position: relative;
    width: 100%;
    height: 250px;
}

.filter-options {
    margin-top: 15px;
}

.heading {
    border: 1px solid #a8a8a8;
    border-top: none;
    border-right: none;
    background: #f9f9f9;
    text-transform: uppercase;
}

.input-group {
    margin-top: 5px;
    width: 100%;
}

.results {
    padding: 15px 15px 15px 15px;
}

.select2-multi {
    width: 100%;
}

.select2-selection {
    border-radius: 0px !important;
    background: #f9f9f9 !important;
}

.select2-selection__choice {
    font-size: 0.85rem;
}

.table {
    margin-bottom: 0;
}

.data table {
    table-layout: fixed;
    text-align: center;
    width: 100%;
}

.data table td {
    border: 1px solid #a8a8a8;
    border-right: none;
}

.input-group-prepend span {
    background: #e4e4e4;
    border-radius: 0px;
}


/* MAP CSS */

.in-map {
    position: relative;
    z-index: 1;
}

.map {
    height: 500px;
}

#marker-popup{
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    color: red;
    width: 100px;
    height: 100px;
    background-color: white;
    z-index: 1;
}


/* DATE CSS */

td {
    padding: 2px 5px 2px 5px;
    transition: all 0.2s;
}

.gray-date {
    color: #a8a8a8;
}

.month {
    margin-bottom: 5px;
    height: 100%;
}

.selected {
    color: #53f4ff;
    background: #054754;
    border-radius: 50px;
    font-weight: bold;
}

.unavailable {
    color: white;
}

#days-of-week {
    font-weight: 700;
}

#date-picker td:hover {
    color: #53f4ff;
    cursor: pointer;
    font-weight: 700;
}

#date-picker .unavailable:hover {
    color: white;
    cursor: default;
}