/*  COLORS
    
    DARK BLUE      #054754
    GREEN          #fff9e0    
    NEON GREEN     #53f4ff
    GRAY           #a8a8a8
    LIGHT GRAY     #f9f9f9
*/


/* GENERAL CSS */

body {
    background: #f4f9f9;
    min-height: 100vh;
    max-width: 100vw;
}

.form-control {
    font-size: 1rem;
    border-radius: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #a8a8a8;
    transition: all 0.2s;
    width: 80%;
}

.form-group {
    margin-bottom: 30px;
}

.full-size{
    width: 100%;
    height: 100%;
}

.transitions {
    transition: all 0.2s;
}

i:hover {
    cursor: pointer;
    color: #53f4ff;
}

.form-control:focus {
    box-shadow: none;
    border-bottom: 2px solid #53f4ff;
    width: 100%;
}


/* BUTTON CSS */

.btn-custom {
    text-align: center;
    background: #054754;
    color: white;
    padding: 5px;
}

.btn-custom:hover {
    color: #53f4ff;
    cursor: pointer;
}

.btn-custom:focus {
    box-shadow: none;
}

.btn-custom.selected {
    border-radius: 0.25rem;
}


/* CARD CSS */
.ui-card {
    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    height: 100%;
}

.card-title {
    background: #054754;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

.card-content {
    padding: 15px 30px 15px 30px;
}


/* RESULTS+DATA CSS */

th {
    text-align: center;
}

.data {
    background: #f9f9f9;
    border: 1px solid #a8a8a8;
    margin-bottom: 10px;
    overflow: auto;
    position: relative;
    width: 100%;
    height: 250px;
}

.heading {
    border: 1px solid #a8a8a8;
    border-top: none;
    border-left: none;
    background: #f9f9f9;
    text-transform: uppercase;
}

.results {
    padding: 15px 15px 15px 15px;
}

.data table {
    table-layout: fixed;
    text-align: center;
    width: 100%;
}

.data table td {
    border: 1px solid #a8a8a8;
}


/* MAP CSS */

.in-map {
    position: relative;
    z-index: 1;
}

.map {
    height: 500px;
}

#marker-popup{
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    color: red;
    width: 100px;
    height: 100px;
    background-color: white;
    z-index: 1;
}


/* DATE CSS */

td {
    padding: 2px 5px 2px 5px;
    transition: all 0.2s;
}

.gray-date {
    color: #a8a8a8;
}

.month {
    margin-bottom: 5px;
    height: 100%;
}

.selected {
    color: #53f4ff;
    background: #054754;
    border-radius: 50px;
    font-weight: bold;
}

.unavailable {
    color: white;
}

#days-of-week {
    font-weight: 700;
}

#date-picker td:hover {
    color: #53f4ff;
    cursor: pointer;
    font-weight: 700;
}

#date-picker .unavailable:hover {
    color: white;
    cursor: default;
}