/*  COLORS
    
    DARK GREEN     #77997e
    GREEN          #d9f4c7
    BLUE           #a1edd5
    GRAY           #a8a8a8
    LIGHT GRAY     #f9f9f9

*/

body {
    background: #d9f4c7;
    min-height: 100vh;
    max-width: 100vw;
}

i:hover {
    cursor: pointer;
    color: #a1edd5;
}

.transitions {
    transition: all 0.2s;
}

/* CARD CSS */
.ui-card {
    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    height: 100%;
}

.card-title {
    background: #77997e;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

.card-content {
    padding: 15px 30px 15px 30px;
}

#map-controls {
    position: relative;
    z-index: 1;
}

.form-control {
    font-size: 1rem;
    border-radius: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #a8a8a8;
    transition: all 0.2s;
    width: 80%;
}

.form-control:focus {
    box-shadow: none;
    border-bottom: 2px solid #a1edd5;
    width: 100%;
}

.form-group {
    margin-bottom: 30px;
}

.btn.form-control {
    width: 100%;
    border: 1px solid #77997e;
}

.btn-custom {
    color: black;
    margin-top: 25px;
    background: #d9f4c7;
}

.data {
    background: #f9f9f9;
    border: 1px solid #a8a8a8;
    padding: 5px;
    margin-bottom: 10px;
    overflow-y: scroll;
    width: 100%;
    height: 250px;
}

.map {
    height: 500px;
}

.full-size{
    width: 100%;
    height: 100%;
}


/* DATE CSS */
#days-of-week {
    font-weight: 700;
}

.month {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
}

td {
    padding: 5px;
    transition: all 0.2s;
}

td:hover {
    color: #a1edd5;
    cursor: pointer;
    font-weight: 700;
}

.gray-date {
    color: #a8a8a8;
}

.selected {
    border-bottom: 2px solid #a1edd5;
    font-weight: 700;
}

.unavailable {
    color: white;
}

.unavailable:hover {
    color: white;
    cursor: default;
}



/*.full-height {*/
/*    min-height: 100vh !important;*/
/*}*/

/*.full-width {*/
/*    min-width: 100vh !important;*/
/*}*/

/*.rounded {*/
/*    border-radius: 12px;*/
/*}*/

/*.pos-fixed{*/
/*    position: fixed !important;*/
/*}*/


/*.border-basic-sm {*/
/*    border: black solid 1pt;*/
/*}*/

/*.border-basic-md {*/
/*    border: black solid 2pt;*/
/*}*/
/*.border-basic-lg {*/
/*    border: black solid 4pt;*/
/*}*/