/*  COLORS
    
    DARK BLUE      #054754
    HOVER          #065868
    GREEN          #fff9e0    
    NEON GREEN     #53f4ff
    GRAY           #a8a8a8
    LIGHT GRAY     #f9f9f9
*/

/* GENERAL CSS */

body {
    background: #f4f9f9;
    min-height: 100vh;
    max-width: 100vw;
}

h4 {
    font-weight: bold;
}

p {
    margin-bottom: 10px;
}

.form-control {
    border-radius: 0px;
}

.form-control-custom {
    font-size: 1rem;
    border-radius: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #a8a8a8;
    transition: all 0.2s;
    width: 80%;
}

.form-group {
    margin-bottom: 30px;
}

.full-size {
    width: 100%;
    height: 100%;
}

.spacing {
    visibility: hidden;
}

.transitions {
    transition: all 0.2s;
}

i:hover {
    cursor: pointer;
    color: #53f4ff;
}

.form-control-custom:focus {
    box-shadow: none;
    border-bottom: 2px solid #53f4ff;
    width: 100%;
}