/* NAVIGATION CLASSES */
nav {
    background: #054754;
    height: 60px;
    padding-left: 50px;
    padding-right: 50px;
}

nav a {
    color: white;
    margin-right: 25px;
    text-decoration: none;
}

.nav-logo {
    color: white;
    font-weight: 700;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0;
}

.nav-link:hover {
    color: #53f4ff;
}

.active {
    color: #53f4ff;
    font-weight: 700;
}

.hidden {
    display: none !important;
}