.text-center {
    text-align: center;
}

.text-sm {
    font-size: 0.7rem;
}

.text-md {
    font-size: 1rem;
}

.text-lg {
    font-size: 1.3rem;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}
