.text-center {
    text-align: center;
}

.text-sm {
    font-size: 0.85rem;
}

.text-md {
    font-size: 1rem;
}

.text-lg {
    font-size: 1.3rem;
}

.text-xl {
    font-size: 2rem;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;
}

.title {
    color: white;
    margin: 0;
    font-weight: 700;
}

.bold {
    font-weight: 700;
}