<div ng-controller="airQualityCtrl" ng-init="init()">
    <div class="page-padding">
        <div class="row margin-bottom-md d-flex align-items-stretch" id="map-controls">
            <div class="col-7">
                <div class="padding-sm full-height">
                    <div class="ui-card box-shadow">
                        <div class="card-title">
                            <h2 class="title text-lg">Choose Location</h2>
                        </div>
                        <div class="card-content padding-top-md">
                            <div class="form-group">
                                <h3 class="bold text-md no-margin">Location</h3>
                                <input ng-model="location" ng-keyup="submitLocation($event);" class="form-control-custom" type="text" name="location"/>
                            </div>
                            <div class="form-group">
                                <h3 class="bold text-md no-margin">Latitude / Longitude</h3>
                                <input id="latLngInput" ng-model="lat_lng" ng-keyup="submitLocation($event);" class="form-control-custom" type="text" name="lat_lng"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="padding-sm full-height">
                    <div class="ui-card box-shadow">
                        <div class="card-title">
                            <h2 class="title text-lg">Choose Date</h2>
                        </div>
                        <div class="card-content row margin-bottom-md d-flex flex-row justify-content-between align-items-stretch" id="date-picker">
                            <div class="col-5">
                                <div class="month text-md d-flex flex-column justify-content-around align-items-stretch">
                                    <!-- This is where the month buttons go -->
                                </div>
                            </div>
                            <div class="col-7 calendar d-flex justify-content-center">
                                <table class="text-center">
                                    <tr id="days-of-week">
                                        <th>Su</th>
                                        <th>Mo</th>
                                        <th>Tu</th>
                                        <th>We</th>
                                        <th>Th</th>
                                        <th>Fr</th>
                                        <th>Sa</th>
                                    </tr>
                                    <tr id="week1">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr id="week2">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr id="week3">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr id="week4">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr id="week5">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-bottom-md d-flex align-items-stretch">
            <div class="col-7">
                <div class="padding-sm full-height">
                    <div class="ui-card box-shadow map">
                        <div id="map" class="full-size"></div>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="padding-sm full-height">
                    <div class="ui-card box shadow roboto-mono">
                        <div class="card-title">
                            <h2 class="title text-lg">Results</h2>
                        </div>
                        <div class="card-content results">
                            <div class="data-wrapper">
                                <div class="data text-center">
                                    <table class="table table-sm table-hover" ng-mouseover="mouseOverTable($event)" ng-mouseout="mouseOutTable()">
                                        <thead class="heading text-sm">
                                            <tr>
                                                <th scope="col">pm25</th>
                                                <th scope="col">pm10</th>
                                                <th scope="col">so2</th>
                                                <th scope="col">no2</th>
                                                <th scope="col">o3</th>
                                                <th scope="col">co</th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-xs" id="air-data-table">
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <h3 class="bold text-md no-margin open-sans">Filter</h3>
                            <div class="filter-options">
                                <div id="filter" class="margin-bottom-sm">
                                    <select class="select2-multi" name="particles[]" multiple="multiple">
                                            <option value="pm25" selected>PM25</option>
                                            <option value="pm10" selected>PM10</option>
                                            <option value="so2" selected>SO2</option>
                                            <option value="no2" selected>NO2</option>
                                            <option value="o3" selected>O3</option>
                                            <option value="co" selected>CO</option>
                                    </select>
                                </div>
                                <div class="row margin-bottom-sm">
                                    <div class="col-4">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text text-sm" id="">PM25</span>
                                            </div>
                                            <input type="text" class="form-control text-sm" placeholder="min" ng-model="minPM25" name="pm25-min">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text text-sm" id="">PM10</span>
                                            </div>
                                            <input type="text" class="form-control text-sm" placeholder="min" ng-model="minPM10" name="pm10-min">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text text-sm" id="">SO2<span class="spacing">0</span></span>
                                            </div>
                                            <input type="text" class="form-control text-sm" placeholder="min" ng-model="minSO2" name="so2-min">
                                        </div>
                                    </div>
                                </div>
                                <div class="row margin-bottom-sm">
                                    <div class="col-4">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text text-sm" id="">NO2<span class="spacing">0</span></span>
                                            </div>
                                            <input type="text" class="form-control text-sm" placeholder="min" ng-model="minNO2" name="no2-min">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text text-sm" id="">O3<span class="spacing">00</span></span>
                                            </div>
                                            <input type="text" class="form-control text-sm" placeholder="min" ng-model="minO3" name="o3-min">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text text-sm" id="">CO<span class="spacing">00</span></span>
                                            </div>
                                            <input type="text" class="form-control text-sm" placeholder="min" ng-model="minCO" name="co-min">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <button class="btn btn-custom full-width open-sans" id="filter-button" ng-click="filter();">Filter Results</button>
                                    </div>
                                </div>
                            </div>
                            <!--<button id="heatmapToggle" class="heatmap-button btn btn-danger" ng-click="toggleHeatMap()">Heat Map</button>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>